#root {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  margin-top: -env(safe-area-inset-top);
  padding-top: calc(env(safe-area-inset-top) + 10px);
  text-align: center;
  border-bottom: 1px solid #f9f9f9;
  background-color: #223333;
  height: calc(100px + env(safe-area-inset-top));
}

input {
  font-family: "Lato", sans-serif;
  background-color: #223333;
  color: #f9f9f9;
  border: 0;
  margin: 0 10px;
}

.project-controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-controls__button-minus,
.project-controls__button-plus {
  display: block;
  background-color: inherit;
  color: #f9f9f9;
  border: 2px solid #f9f9f9;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
  font-size: 1.2em;
  text-align: center;
  width: 40px;
  border: 0;
}

.project-controls__button-minus img,
.project-controls__button-plus img {
  filter: invert(1);
  width: 20px;
}

.project-controls__button-plus img {
  margin-top: 5px;
  transform: scaleY(-1);
}

.project-controls__button-add-row {
  font-size: 1.2em;
  margin: 0 10px;
  padding: 3px 20px 4px;
  border-radius: 8px;
  font-family: "Lato", sans-serif;
  background-color: #223333;
  border: 1px solid #f9f9f9;
  color: #f9f9f9;
}

.project-controls input {
  padding: 0;
  font-size: 1.2em;
  margin: 0;
  min-width: 2ch;
  text-align: center;
}

.project-name-input {
  border: 0;
  font-size: 1.5em;
  background-color: #223333;
  text-align: left;
  padding: 10px 0;
  text-align: center;
}

.project-name-input:focus {
  border-bottom: 1px solid #f9f9f9;
}

main {
  justify-content: flex-start;
  align-items: center;
  flex-direction: column-reverse;
  box-sizing: border-box;
  padding: 10px;
  min-height: calc(100vh - 200px);
  display: flex;
}

footer {
  font-family: "Lato", sans-serif;
  display: flex;
  justify-content: center;
  color: #c9c9c9;
  align-items: flex-end;
  width: 100%;
  height: 130px;
  text-align: center;
}

.footer-div {
  border-top: 1px solid #c9c9c9;
  padding: 10px;
}

.stitches-label {
  flex: 1;
  padding: 5px 0;
}

.stitches-boxes {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  gap: 2px;
  flex: 1.5;
}

.stitches-row {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  font-family: "Lato", sans-serif;
  font-size: 0.8em;
  color: #f9f9f9;
  gap: 20px;
  padding: 0 10px;
  margin-bottom: 5px;
}

.stitch-box {
  width: 0px;
  height: 0px;
  border: 1px solid #f9f9f9;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

@media (min-width: 768px) {
  header {
    flex-direction: row;
    justify-content: space-between;
    height: calc(70px + env(safe-area-inset-top));
  }

  .project-name-input {
    text-align: left;
  }
}
